.footer{
    width: 100%;
    height: auto;
    background: #077712;
    

    .foot{
        
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 33px;
        /* identical to box height */
        justify-content: center;
        display: flex;
        align-items: center;
        
        color: #FFFFFF;

        padding-top: 70px;
        padding-bottom: 70px;
    }
}